* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#about {
    padding-top: 25px;
}
#projects {
    padding-top: 25px;
}
#contact {
    padding-top: 25px;
}


body, html {
    overflow-x: hidden;
    max-width: 100%;
    height: 100%;
}

#navbarNavAltMarkup {
    background-color: rgb(23, 23, 23, 90%);
}

#navbarNavAltMarkup a {
    color: #EEEEEE;
}


#navbarNavAltMarkup a:hover {
    cursor:pointer;
    color: #30475E;
}




body {
    background-color: #171717;
    position: relative;

}




#jumbotron {
    height: 100%;
    background-image: url("./assets/images/profile-circle.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: bottom;
    
}

#jumbotron h1 {
    color: #03506F  ;
    font-family: 'Kanit', sans-serif;
}

#jumbotron span {
    color: #FF4C29;
}

#jumbotron h2 {
    font-family: 'Source Code Pro', monospace;
    color: #03506F;
}


#jumbotron figcaption {
    margin-top: 25%;

}

figcaption:hover {
    cursor: default;
}

#about {
    background-color: #EDEDED;
}




#about h1, #skills h1, #projects h1, #contact h1 {
    color: #03506F;
}

/* #about {
    height: 100%;
} */

#about h5 {
    color: #171717;
}

#about .card-body h5 {
    color: #EDEDED;
}

#skills .card-img {
    background-color: #171717;
}

hr {
    background-color: transparent;
    border-style: none;
    border-top-style: dotted;
    border-width: 20px;
    width: 100px;
    border-color: #8FD6E1 !important;
    margin: 50px auto;

}

#projects a {
    text-decoration: none;
    color: #FF4C29;
}
#projects a:hover {
    color: #DA0037;
}



#contact {
    background-color: #EDEDED;
}

#contact h3, #contact h5, #contact label {
    color: #171717;
}

#emailme {
    position: inherit;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

#emailme:hover {
    width: 110px;
    cursor: pointer;
}

#contact-form {
    border-width: 50px;
}

#map {
    width: 100%;
    height: 50vh;
}



@media only screen and (min-width: 320px){


    #navbarNavAltMarkup {
        background-color: rgb(23, 23, 23, 90%);
        position: relative;
        top: 25vh;
    }
    
}



@media only screen and (min-width: 321px){


    #jumbotron figcaption {
        margin-top: 5%;
    }
    #navbarNavAltMarkup {
        background-color: rgb(23, 23, 23, 90%);
        position: relative;
        top: 25vh;
    }
    
}

@media only screen and (min-width: 376px){
    #jumbotron figcaption {
        margin-top: 88%;
    }
    #navbarNavAltMarkup {
        background-color: rgb(23, 23, 23, 90%);
        position: relative;
        top: 25vh;
    }

    
}

@media only screen and (min-width: 426px){
    #jumbotron figcaption { 
        margin-top: 50%;
    }

    #contact-submit {
        width: 100px;
        margin-left: auto;
    }

    #navbarNavAltMarkup {
        background-color: rgb(23, 23, 23, 90%);
        position: relative;
        top: 25vh;
    }

    
    
}

@media only screen and (min-width: 769px){

    #jumbotron figcaption {
        margin-top: 10%;
    }

    #navbarNavAltMarkup {
        position: relative;
        top: 0;
    }
    



    

}

@media only screen and (min-width: 1024px){
    #jumbotron figcaption {
        position: relative;
        left: 10px;
    }

    #about {
        padding-top: 50px;
    }
    #projects {
        padding-top: 50px;
    }
    #contact {
        padding-top: 50px;
    }
    
    
}

@media only screen and (min-width: 1440px){
    #jumbotron figcaption {
        position: relative;
        left: 15px;
    }

    #about {
        padding-top: 50px;
    }
    #projects {
        padding-top: 50px;
    }
    #contact {
        padding-top: 50px;
    }
    
}